<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/artist.css">

    <title>Document</title>
</head>

<body>
    <div class="topnav">
        <button class="home">Home</button>
    </div>
    <div class="head">
        {{range .Tab}}
        <img src="{{.Image}}" alt="cover" class="img">
        <h1 class="title">{{.Name}}</h1>
        {{end}}
    </div>
    <div class=main>
        <div class="infos">
            {{range .Tab}}
            {{ range .Members}} <br>
            {{.}}
            {{end}}
            {{.CreationDate}} <br>
            {{.FirstAlbum}} <br>
            {{end}}

        </div>
        <div class="concerts">
            <h1> Concerts : </h1> <br>
            {{ range $Location, $DatesLoc := .S1.DatesLoc }}
            <strong>{{ $Location }} : </strong>
            <br> {{ range $Detail := $DatesLoc }}
            <li> {{ $Detail }} </li>
            <br> {{end}}
            {{ end }}
        </div>
    </div>
</body>

</html>