<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p> Dates des concerts : </p>

   <!-- {{range .Tab2}}
   {{.}}
   {{end}} -->

   {{ range $Location, $DatesLoc := . }}
   <li><strong>{{ $DatesLoc }}</strong>: {{ $Location }}</li>
    {{ end }}

</body>
</html> 
j'ai
<!-- {{ range $key, $value := . }}
   <li><strong>{{ $key }}</strong>: {{ $value }}</li>
{{ end }} -->
