<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <script src="static/script.js"></script>

    <title>Document</title>
</head>

<body>
    <div class="filter">
        <button onclick="searchFilter()" class="dropbtn">Filters</button>
        <div id="myDropdown" class="dropdown-content">
    
    <form method="post" action="/filter">
            <a>Members
                <input type="checkbox" value="1" id="idMembers1" name="members" class="style_members">
                <label for="1">1</label>
                <input type="checkbox" value="2" id="idMembers2" name="members">
                <label for="2">2</label>
                <input type="checkbox" value="3" id="idMembers3" name="members">
                <label for="3">3</label>
                <input type="checkbox" value="4" id="idMembers4" name="members">
                <label for="4">4</label>
                <input type="checkbox" value="5" id="idMembers5" name="members">
                <label for="5">5</label>
                <input type="checkbox" value="6" id="idMembers6" name="members">
                <label for="6">6</label>
                <input type="checkbox" value="7" id="idMembers7" name="members">
                <label for="7">7</label>
                <input type="checkbox" value="8" id="idMembers8" name="members">
                <label for="8">8</label>
            </a>
             
                <div class="options2"> 
                    <a>Creation Date
                    <input class="slider_DC" name="slider_DC" type="range" min="1958" max="2015" step="1" list="steplist" id="dateCreation">
                    </a>
                </div>
                
                <div class="options"> 
                    <a>First Album Date 
                    <input class="slider_FAD" name="slider_FAD" type="range" min="1963" max="2018" step="1" list="steplist" id="FirstAlb">
                    </a>
                </div>

            <a>Concert Locations</a>
            <button type="submit" name="confirmation" method="post" button>Apply filters</button>
        </div>
    </form>

        <div class="nav">
            <input onkeyup="search()" class="searchBar" id="searchBar" type="text" placeholder="Search" />
            <div id="answer"></div>
        </div>
    </div>
    <div class="head">
        <h1 class="title">Artists</h1> <br>
        <div Id="noresult"></div>
    </div>
    <div class="body">
        <div class="cards">
            {{ range .Tab }}
            <form action="/artist" class="button">
                <button type="submit" value={{.Id}} name="w" method="post" class="btn">
                    <div class="card">
                        <img src="{{ .Image }}" class="image">
                        <div class="name">
                            <h1 name="artistName"> {{.Name}} </h1>
                        </div>
                        <div class="para"> 
                            {{range .Members}}
                            <p name="members">{{ . }}</p> 
                            {{ end }}
                            <p name="date" class="date" >{{.CreationDate }}</p>
                        </div>
                    </div>
                </button>
            </form>
            {{end}}
        </div>
    </div>
</body>

</html>
