<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <script src="static/script.js"></script> 

    <title>Document</title>
</head>

<body>
    <div class="filter">
        <button onclick="searchFilter()" class="dropbtn">Filtres</button>
        <div id="myDropdown" class="dropdown-content">
            <a>Creation Date</a>
            <a>First Album Date</a>
            <td nowrap> 
            <div class="members"> 
                <div class="options"> 
                    <a>Members 
                    <input class="slider" type="range" min="1" max="8" step="1" list="steplist">
                    <datalist id="steplist">
                        <option>1</option> 
                        <option>2</option>
                        <option>3</option>
                        <option>4</option> 
                        <option>5</option>
                        <option>6</option>
                        <option>7</option> 
                        <option>8</option>
                    </datalist>
                    <div class="tickValue">
                        <span class="numMembers"> 1 </span>
                        <span class="numMembers"> 2 </span>
                        <span class="numMembers"> 3 </span>
                        <span class="numMembers"> 4 </span>
                        <span class="numMembers"> 5 </span>
                        <span class="numMembers"> 6 </span>
                        <span class="numMembers"> 7 </span>
                        <span class="numMembers"> 8 </span>
                    </div>
                    </a> 
                </div> 
                 
            </div> </td>
            <a>Concert Locations</a>
        </div>
    </div>
    <div class="head">
        <h1 class="title">Artistes</h1> <br>
        <div class="nav">
            <input onkeyup="search()" id="searchBar" class="searchBar" type="text" class="input" placeholder="Search" />
        </div>

    </div>
    <div class="cards">
        {{ range .Tab }}
        <form action="/artist" method="post">
            <button type="submit" class="test" value={{.Locations}} name="w">
                <div class="card">
                    <img src="{{ .Image }}" class="image">
                    <h1 class="name"> {{.Name}} </h1>
                    <p class="para"> Members <br> {{range .Members}}{{ . }} <br> {{ end }} <br> Creation Date <br>{{
                        .CreationDate }} <br> <br> First Album <br>{{ .FirstAlbum }}
                    </p>
                </div>
            </button>
        </form>
        {{end}}
    </div>
    <div id="root"></div>
</body>

</html> 




