body{
  margin: 0;
  background-color: rgb(42, 44, 49);
}

.slider_FAD {
  cursor: grab;
}

.slider_DC {
  cursor: grab;
}


.dropbtn {
  background-color: rgb(42, 44, 49);
  color: white;
  padding: 16px;
  font-size: 30px;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.dropbtn:hover, .dropbtn:focus {
  color: orange;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  font-family: System-ui;
  position: absolute;
  background-color: white;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 550px;
  white-space: nowrap;
  border-radius: 8px;
}

.link {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 24px;
}

.link:hover {
  background-color: #ddd;
}

.show {
  display: block;
}


.head{
  align-items: center;
  width: 100%;
  height: 500px;
  font-family: System-ui;
  text-align: center;
  font-size: 50px;
  color: #fff;
  background-color: rgb(42,44,50);
  flex-direction: column;

}
.title {
  margin: 0;
  padding-top: 100px;
}

.filter {
  align-items: center;
  background-color: rgb(42, 44, 49);
}

.body{
  background-color: white; 
  position: absolute;
  width: 100%;
}


.cards{
  grid-template-columns: repeat(4,1fr); 
  display: grid;
  align-items: stretch;
  justify-items: center;
  gap: 30px;
  padding: 30px;
  margin-top: -200px;
}

.card{
  transition: 0,3s;
  max-width: 300px;
  max-height: 900px;
  width: 300px;
  padding: 0;
  border-radius: 5%;
  border: rgba(0,0,0,0.2);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  -webkit-transition:  box-shadow .6s ease-out;
 }

 .card:hover .para{
  display: block;
  border: solid white;
  border-radius: 500px;

 }
 
 
 
 .card:hover{
  transition-duration: 15s;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  max-height: 900px;
  transform: scale(1.05);
  transition: all .3s ease-in-out .3s;

 }
 .idcard{
   display: none;
 }

.para{
  display: none;
}

.artistName{
  margin:0; 
  max-width: 200px;
}

.name{
  height: 60px;
  max-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: rgb(42, 44, 49);

}

.image{ 
  width: 100%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.btn{
  padding: 0;
  border: none;
  background: none;
  border-radius: 5%;
} 

.nav{
  position: absolute;
  right: 30px;
  top: 15px;
  max-height: 280px;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
  border-radius: 70px;
  font-size: 25px;
  text-align: center;
  font-family: System-ui;

}
.searchBar {
  width: 450px;
  height: 30px;
  outline: 0;
  border-radius: 20px;
  border: none;
  padding-left: 16px;
  font-size: 25px;

}

#answer a {
  display: block;
  text-align: start;
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  
}
#answer a p {
  float: right;
  margin: 0;
  color: rgb(196, 194, 194);
}

/* Change the color of links on hover */
#answer a:hover {
  background-color: #ddd;
  color: black;
}

.show2{
  display: block;
}

.dropdown-contentLocations {
  width: 550px;
  white-space: nowrap;
  border-radius: 8px;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-contentLocations {
  display: none;
}
.dropdown-btnLocation:hover .dropdown-contentLocations{
  display: block;
  }

.dropdown-contentLocations a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 30px;
}

.dropdown-contentLocations a:hover {
  background-color: #ddd;
}

.linkfilter {
  float: right;
  margin: 0;
  font-size: 20px;
}
/* .linkfilter label{
  font-size: 20px;
} */

/* #idMembers{
  margin: 0;
} */

.countrieschoice{
  width: 260px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  font-size: 20px;
  font-family: System-ui;
}
.applyfilter{
  font-size: 20px;
  height: 30px;
  border-radius: 5px;
  background-color: white;
}
.linkfilter input[type=range] {
  margin: 0;
  width: 200px;
}
.spanning{
  float: right;
  margin-right: 10px;
  font-size: 20px;
}
.home{
  display: inline-block;
}