body{
  margin: 0;
  background-color: rgb(42, 44, 49);
}
/* Filtres */

.style_members{
  margin-left: 108px;
}

.tickValue{
  display: flex;
  margin-left: 169px;
  width: 326px;
}

.numMembers{
  flex: 1;
}

.slider.MEMB{
  width: 300px;
  margin-left: 50px;
  cursor: grab;
}

.slider_FAD {
  width: 300px;
  margin-left: 50px;
  cursor: grab;
}

.slider_DC {
  width: 300px;
  margin-left: 72px;
  cursor: grab;
}

.dropdown-content {
  width: 550px;
  white-space: nowrap;
}

.dropbtn {
  background-color: rgb(42, 44, 49);
  color: white;
  padding: 16px;
  font-size: 30px;
  border: none;
  cursor: pointer;
  display: inline-block;

}

.dropbtn:hover, .dropbtn:focus {
  color: orange;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 30px;
}

.dropdown-content a:hover {
  background-color: rgb(207, 204, 204);}

.show {
  display: block;
}


/* Banniére */
.head{
  margin: 0%;
  align-items: center;
  width: 100%;
  height: 700px;
  font-family: System-ui;
  text-align: center;
  font-size: 50px;
  color: #fff;
  background-color: rgb(42,44,50);
  flex-direction: column;
}

.title{
  margin: 0;
}
/* SearchBar */
.filter {
  display: flex;
  align-items: center;
  top: 0;
  background-color: rgb(42, 44, 49);
}
.searchBar {
  display: inline-block;
  align-items: center;
  margin-left: 230%;
  width: 450px;
  height: 30px;
  outline: 0;
  border-radius: 30px;
  text-align: center;
  font-size: 30px

}

/* Cartes */
.name {
  font-size: 40px;
  padding: 0;
  margin-top: 10px;
}

.cards{
  font-family: System-ui;
  display:grid;
  place-items: center;
  grid-template-columns: repeat(4,1fr);
  text-align:center;
  gap: 30px;
  background: none;
  margin-top: -250px;
  margin-bottom: 300px;

}

.image{
  width: 100%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  /* border-radius: 50%; */
  /*height: 50%;*/
}
.noresult{
  color: aqua;
  /* font-size: ; */
}

.para{
  visibility: hidden;
  
}
.card {
  border-radius: 5%;
  border: rgba(0,0,0,0.2);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 400px;
  max-height: 510px;

}
.bgc  {
  width:100%;
  position: absolute;
  background-color: white;
}
.title_card{
  max-height: 100px;
}


.card:hover .para{
  visibility: visible;
}

.card:hover{
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  width: 400px;
  max-height: 900px;
}

.test {
  padding: 0;
  border: none;
  background: none;
  border-radius: 5%;
}

.borderCards{
  border:none; 
  padding:0;
  background: none;
}

h2{
  margin-bottom: -10px;
}

.para {
  font-size: 20px;
}
