<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/groupie/static/style.css">
    <script src="/groupie/static/script.js"></script>

    <title>Document</title>
</head>

<body>
    <div class="filter">
        <form class="home" action="/" method="post">
            <button class="dropbtn" >Home</button>
        </form>
        <button onclick="searchFilter()" class="dropbtn">Filters</button>

        <div id="myDropdown" class="dropdown-content">
            <form method="post" action="/filter">
                <div class="link">Members
                    <div class="linkfilter">
                        <input type="checkbox" value="1" id="idMembers" name="members1" >
                        <label for="1">1</label>
                        <input type="checkbox" value="2" id="idMembers" name="members2">
                        <label for="2">2</label>
                        <input type="checkbox" value="3" id="idMembers" name="members3">
                        <label for="3">3</label>
                        <input type="checkbox" value="4" id="idMembers" name="members4">
                        <label for="4">4</label>
                        <input type="checkbox" value="5" id="idMembers" name="members5">
                        <label for="5">5</label>
                        <input type="checkbox" value="6" id="idMembers" name="members6">
                        <label for="6">6</label>
                        <input type="checkbox" value="7" id="idMembers" name="members7">
                        <label for="7">7</label>
                        <input type="checkbox" value="8" id="idMembers" name="members8">
                        <label for="8">8</label>
                    </div>
                </div>
                
                <div class="link">First Album Date 
                    <div class="linkfilter">
                        <input name="FAD" class="slider_FAD" type="range" min="1963" max="2018" step="1" id="FirstAlb2" value="1974">
                    </div>
                    <span id="demo2" class="spanning"></span>
                </div>

                <div class="link">Creation Date 
                    <div class="linkfilter" >
                        <input name="DC" class="slider_FAD" type="range" min="1958" max="2015" step="1" id="FirstAlb" id="FirstAlb2" value="1974">

                    </div>
                    <span id="demo"class="spanning"></span>

                </div>
                
                <script>
                var slider = document.getElementById("FirstAlb");
                var output = document.getElementById("demo");
                output.innerHTML = slider.value;
                
                slider.oninput = function() {
                  output.innerHTML = this.value;
                }
                var slider2 = document.getElementById("FirstAlb2");
                var output2 = document.getElementById("demo2");
                output2.innerHTML = slider.value;
                
                slider2.oninput = function() {
                  output2.innerHTML = this.value;
                }
                </script>

                <div class="link">
                    <label for="pet-select">Concert Locations</label>
                    <div class="linkfilter">
                        <select class="countrieschoice" name="country">
                            <option value="">None</option>
                            {{range .Country}}
                            <option value={{.}}>{{.}}</option>
                            {{end}}
                        </select>
                    </div>
                </div>
                
                <div class="link" >
                    <button type="submit" class="applyfilter" method="post">Apply</button>
                </div>
            </form>
        </div>

        <div class="nav">
            <input onkeyup="search()" onclick="search()" class="searchBar" id="searchBar" type="text" placeholder="Search" />
            <div id="answer"></div>
        </div>
    </div>
    <div class="head">
        <h1 class="title">Artists</h1> <br>
        <div Id="noresult"></div>
    </div>
    <div class="body">
        <div class="cards">
            {{ range .Tab }}
            <form action="/artist" class="button">
                <button type="submit" value={{.Id}} name="w" method="post" class="btn">
                    <div class="card">
                        <img src="{{ .Image }}" class="image">
                        <div class="name">
                            <h1 name="artistName"> {{.Name}} </h1>
                        </div>
                        <div class="para"> 
                            <div class="groupmembers">
                                {{range .Members}}
                                <p name="members" >{{ . }}</p> 
                                {{ end }}
                            </div>
                            <p name="date" class="date" >{{ .CreationDate }}</p>
                        </div>
                    </div>
                </button>
            </form>
            {{end}}
        </div>
    </div>
</body>

</html>
